
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.gray {
  color: #666;
}

.date {
  color: #666;
  display: inline-block;
  min-width: 5rem;
  font-size: .75rem;
}

.tags {
  line-height: 2rem;
}

.secondary-title {
  margin-top: 6rem;
}

.hljs {
  width: 100%;
  padding: 1rem;
}
