
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  .flex-shrink {
    flex: 0 1 auto;
  }
  .flex-grow {
    flex: 1 1 auto;
  }
}