
.mono {
  font-family: monospace;
  font-size: 1.3rem;

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-family: monospace;
  }

  h1:before { content: '# ' }
  h2:before { content: '## ' }
  h3:before { content: '### ' }
  h4:before { content: '#### ' }
  h5:before { content: '##### ' }
  h6:before { content: '###### ' }

  input, button, textarea {
    font-family: monospace;
  }
}
